body {
  background-color: #352927;
  color: #faf8f1;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-top: 20px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav ul li:first-child {
  margin-right: auto;
  margin-top: 0px;
  color: #e2c275;
  font-size: 30px;
}
nav ul li {
  list-style: none;
  margin: 10px;
}
nav a {
  color: black;
  background-color: #e2c275;
  text-decoration: none;
  padding: 10px 20px;
  margin: auto;
}
nav a:hover {
  margin: auto;
  color: #faf8f1;
  background-color: #352927;
  text-decoration: none;
  padding: 10px 20px;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e2c275;
  color: #352927;
  text-align: center;
  position: fixed;
}
