.container {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: auto;
  margin: 20px;
  margin-bottom: 30px;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container .image-item {
  width: 100%;
  height: 90%;
}

.image-container .image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.text-item {
  color: #e2c275;
  text-align: center;
  margin-top: 10px;
  font-size: large;
}

.hyperlink-container {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
  margin: 10px;
}

.hyperlink-container .hyperlink-text a {
  text-align: center;
  color: #c36a2d;
  font-size: large;
}

.title-container {
  grid-column: 2 / span 2;
  grid-row: 2;
  text-align: center;
}

.biography-container,
.style-container {
  margin-top: 20px;
}

.biography-container h2,
.style-container h2 {
  color: #c36a2d;
}

.biography-container p,
.style-container p,
li {
  color: #f4f4f4;
  font-size: large;
}

.style-container strong {
  color: #e2c275;
}

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .title-container,
  .hyperlink-container {
    grid-column: span 2;
  }
}
