.container {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: auto;
  margin-bottom: 30px;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin: 20px;
}
.image-container {
  width: 100%;
  height: 100%;
}
.image-container .image-item {
  width: 100%;
  height: 80%;
}
.image-container .image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.hyperlink-container {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}
.hyperlink-container .hyperlink-text {
  text-align: center;
}
.title-container {
  grid-column: 2 / span 2;
  grid-row: 2;
}
.text-item {
  color: #e5ba73;
}
